* {
    margin: 0;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    color: #495057;
    line-height: 20px;
    overflow-x: hidden;
    font-size: 13px;
}

input,
select,
textarea {
    font-family: 'Montserrat', sans-serif;
    color: #767676;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: #495057;
}
.main-content {
    background: #eaedf7;
    min-height: 100vh;
    padding-bottom: 50px;
}
.main-content footer {
    background: #fff;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    left: 0;
}

.navbar-vertical.navbar-expand-xs.fixed-left {
    background: #25233c;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link,
.navbar-vertical .navbar-nav .nav-link[data-toggle=collapse][aria-expanded=true]:after {
    color: rgba(255, 255, 255, 0.7);
    background: transparent !important;
}
.sidenav .navbar-brand > h1 {
    color: #fff;
}
.sidenav .sidenav-toggler-line {
    background: rgba(255, 255, 255, 0.7);
}
.card-listing .card-header.sticky_top {
    position: fixed;
    top: 0px;
    left: auto;
    width: calc(100% - 122px);
    right: 30px;
    z-index: 9;
}
.g-sidenav-pinned .card-listing .card-header.sticky_top {
    width: calc(100% - 310px);
}
/* login page */
.left-40{
	background-image:url('/images/login.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    padding: 20px;
    background-position: center center;
}
.uploadproductfile i {
    margin-top: 15px;
    margin-left: 15px;
}
#myTab .nav-link{color: #fff;}
#myTab .nav-link.active{color:#525f7f;}
.user-login.left-40{
    background-image:url('/images/user_login.jpg');
}
.loginform {
	position: relative;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);%;
}
.logo {
    text-align: center;
    margin-bottom: 30px;
}
.back-left {
    position: relative;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.left-box.left-box-login {
    max-width:85%;
    margin: auto;
    width: 100%;
}
.back-left h3 {
    line-height: 37px;
    color: #fff;
}
.btn-white {
    color: #1374bb;
    background-color: #fff;
}
.light{
    font-size: 16px;
    font-family: 'poppinslight';
    color: #fff;
}

span.textlogin {
    border-bottom: 1px solid #000;
}
#testimonial .progress {
    height: 5px;
    background-color: #e9ecef;
    border-radius: unset;
    margin-left: -16px;
    margin-bottom: 40px;
}
#testimonial .progress-bar {
    background-color: #66CC33;
}

/* register page */
footer.mastfoot.mt-auto {
    background-color: #333333;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 1px;
}
.button-bottom {
    margin-bottom: 25px;
}
.button-bottom button,.button-bottom a,#addDelButtons button {
    padding: 5px 40px 5px 40px;
}
#addDelButtons button {
    padding: 5px 20px 5px 20px;
}
/* welcome screen */
.left-clients{
    background-image: linear-gradient(rgba(1,101,208,0.6),rgba(52,132,217,0.5)),url(/images/client.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    margin-right: 8px;
    background-position: center center;
}
.right-employee{
    background-image: linear-gradient(rgba(199, 115, 28, 0.6),rgba(113, 37, 14, 0.5)),url(/images/freelancer.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-position: center center;
}
.welcome {
    margin: 10px;
}
.welcome  .left-box.left-box-login h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
}
.welcome-button {
    text-align: center;
}
.welcome-button a {
    padding: 10px 40px 10px 40px;
    background: #fff;
    color: #0E68B6;
    font-size: 16px;
    font-weight: 800;
}
.detailpage.table-responsive th {
    white-space: normal !important;
    line-height: 2em;
    width: 50%;
    font-weight: bold;
}
.detailpage.table-responsive td {
    white-space: normal !important;
    line-height: 2em;
    width: 50%;
}
.card-header.bg-primary a,.card-header.bg-primary  {
    color: #fff;
}
.without-card-header th{
background-color: #5e72e4 !important;
  color: #fff !important;
}
.comment_section .bg-default {    color: #fff;}
.comment_listing li.media {
  margin-top: 20px;
  border-bottom: 1px dashed #efefef;
}.comment_listing .media:first-child {
    margin-top: 0;
}
.comment_listing .img-circle {
    border-radius: 50%;
}
.comment_listing .media-left, .media>.pull-left {
    padding-right: 10px;
}
.comment_listing .media-list .media img {
    width: 64px;
    height: 64px;
    border: 2px solid #e5e7e8;
}
.comment_listing .media-body {
    margin-bottom: 40px;
}
.select2-container .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 45px !important;
}
.select2-container--default .select2-selection--single{
      border: 1px solid #ccc !important;
}
.req:after {
    content: "*";
    display: inline-block;
    margin-left: 2px;
    color: #ff0000;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: normal;
    vertical-align: top;
}

.perpage-wrap select#perpage{
    font-size: .75rem;
    height: calc(1.5em + 0.5rem + 2px);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    width: 60px;
    background: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'4\' height=\'5\' viewBox=\'0 0 4 5\'%3e%3cpath fill=\'%2332325d\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3e%3c/svg%3e') no-repeat right .5rem center/8px 10px;
}

.input-group-sm>.custom-select, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, .input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, .input-group-sm>.input-group-prepend>.input-group-text{
    font-size: 0.9rem;
}

.btn-sm {
    font-size: .9rem;
}

/* select2 bootstrap select box selection  */
.was-validated .custom-select:invalid + .select2 .select2-selection{
    border-color: #fb6340 !important;
}
.was-validated .custom-select:valid + .select2 .select2-selection{
    border-color: #2dce89 !important;
}
*:focus{
  outline: 0px;
}

.main-listing-table td, .main-listing-table th{
    padding-right: 0.6rem !important;
    padding-left: 0.6rem !important;
}

.main-listing-table td.position-relative img+.badge{
    position: absolute;
    bottom: 14px;
    right: 14px;
}

.card .table td {
    white-space: normal;
}

body .navbar-vertical .navbar-nav .nav-link>i {
    font-size: 20px;
}
.card .table td [data-have-image="1"],
[data-have-carousel="1"],
[data-have-pointer="1"] {
    cursor: pointer;
}
body .main-content {
    min-height: calc(100vh + 180px);
}
body .custom-control-alternative .custom-control-label::before {
    border: 1px solid #bec5cc;
}

body.g-sidenav-show.g-sidenav-hidden a.navbar-brand {
    display: none;    
}

body.g-sidenav-show.g-sidenav-hidden span.nav-link-text {
    display: none;    
}


#productCarousel .carousel-control-next .carousel-control-next-icon,
#productCarousel .carousel-control-prev .carousel-control-prev-icon {
    background-color: black;
    width: 40px;
    height: 40px;
    background-size: 20px;
    border-radius: 50%;
    opacity: 1;
}

.channel-group {margin-top: 10px;}

.channel-group span.select2 {
    width: 300px !important;
}

.channel-group .select2-selection--multiple {
    padding: 0px 10px !important;
    border-color: #dee2e6 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.channel-group  .input-group-prepend {
    border: 1px solid #dee2e6;
    padding: 2px 5px 2px 8px;
}

.channel-group .input-group-prepend select#combined_action {
    border: 0;
    padding: 0;
}

.channel-group span.select2 .select2-selection {
    min-height: 38px;
    padding-right: 40px !important;
}

/* select2 hover selection fix */
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option[aria-selected=true] {
    color: #16181b;
    background-color: #ddd;
}
.select2-container--default .select2-results__option:hover{
    background-color: #aaa !important;
}

.opacity-75{
    opacity:  0.75;
}

.pattr_wrap .tslab_single > [class*="col-"] {
    padding: 7px 0;
}

select[invalid], input[invalid], textarea[invalid]{
    border-color: #fb6340;
}

.pointer-events-none{
    pointer-events: none;
    color: #ced4da;
}

.form-control-label+.bootstrap-tagsinput {
    border: 1px solid #dee2e6;
    width: 100%;
}


/* mini sidebar navigation css changes */
.g-sidenav-hidden:not(.g-sidenav-show) .nav>.nav-item>.show>.nav>.nav-item>a.nav-link {
    margin-left: -42px !important;
    display:block !important;
    visibility:hidden !important;
}

.g-sidenav-hidden:not(.g-sidenav-show) .nav>.nav-item>.show>.nav>.nav-item>a.nav-link:first-letter {
    visibility:visible !important;
}

.g-sidenav-hidden:not(.g-sidenav-show) nav.sidenav{
   max-width: 62px; 
}


/*** media ****/

@media (max-width: 1199.98px) {
.sidenav {transform: none !important;}
.sidenav.fixed-left+.main-content {margin-left: 62px !important;}
nav#sidenav-main:focus {max-width: 262px !important;}
.sidenav-header .ml-auto {margin-left: 22px !important;}
.sidenav-toggler.d-none {display: block !important;}
}

@media (max-width: 768px) {
.left-40 {display: none;}
}
